.card {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    min-width: 400px;
    margin: 50px;
    text-align: center;
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 50px;
  }

  .name-phone {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }